.twrpb-meta-setting {
	&__setting-wrapper {
		display: flex;
		flex-wrap: wrap;

		& > * {
			margin-right: 0.5rem;
		}
	}

	&__input-label {
		display: block;
		margin-bottom: 0.3rem;
		margin-left: 0.1rem;
		color: black;
	}
}
